/********************** SITE-WIDE STYLES **********************/
body {
  text-align: center;
}
h1 {
  color: red;
  background-color: lavender;
}

/************************* HOME PAGE **************************/


/************************** ARTICLE ***************************/


/************************ IMAGE GALLERY ***********************/
